// ============ VARIABLES ================
// COLORES--------------------
$purple: #6E1FED;
$cyan: #60D3D9;
$yellow: #F4B840;
$pink: #DB2A6B;
$orange: #FF7E29;
$dark-grey: #2B2D38;


// FUENTES--------------------
$primary-font: 'Merriweather', sans-serif;

// INTERFAZ--------------------
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;