@use '../abstracts/index' as abs;
@use 'sass:color';

.hero__buttons {
  margin-bottom: 40px;

  .btn-primary {
    display: inline-block;
    padding: 12px 25px;
    background-color: abs.$purple;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 15px;
    transition: background-color 0.3s;

    &:hover {
      background-color: color.adjust(abs.$purple, $lightness: -10%);
    }
  }

  .btn-secondary {
    display: inline-block;
    padding: 12px 25px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: color.adjust(abs.$dark-grey, $lightness: 25%);
      border-radius: 5px;
    }

    img {
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}