@use '../abstracts/index' as abs;
@use 'sass:color';

.hero__buttons {
  margin-bottom: 80px;

  .btn-primary {
    @include abs.button();
  }
  
  .btn-secondary {
    @include abs.button($fondo: none);
    text-decoration: underline;
    padding: 5px 40px;
    
    img {
      vertical-align: middle;
    }
  }
}